{{#each allNominees}}

<div class="year-container">
  <h2 class="year-heading" index="{{@index}}" data-object="year">{{this.Year}}</h2>
   
      {{#each this.Movies}}
        <div class="movie-container">
          <div class="movie-poster-comtainer">
               <img class="movie-poster" src="/assets/poster-placeholder.jpg" />
        </div>
          <div class="movie-content-container">
              <h3 class="movie-title" index="{{@index}}">{{this.Name}} </h3>
               <div class="imdb-container">
                  <span class="imdb-star">&#x2605;</span> 
                 <span class="imdb-rating">8.6</span> 
              </div>

              {{#each this.Viewers}}
                  <div class="user-container">
                      <div class="user-info user-name">{{this.Name}}</div>
                      <div class="user-info user-check">&#x2713;</div>
                      <div class="user-info user-smile">&#x2639;</div>
                      <div class="user-info user-frown">&#x263A;</div>
                      <div class="user-info user-skip">&#x2718;</div>   

                   {{!--  <input type="checkbox" movie-index="{{@../index}}" year-index="{{@../../index}}" {{#if this.HasSeen}}checked{{/if}}> --}}
                 </div>
              {{/each}}
            </div>
         </div>  
      {{/each}}

</div>

{{/each}}
