{{#each allNominees}}

<h2 class="heading-year" index="{{@index}}" data-object="year">{{this.Year}}</h2>

<div class="year-container">
   <div class="movie-container">
    {{#each this.Movies}}
      <h3 class="movie-title" index="{{@index}}">{{this.Name}}</h3>
        {{#each this.Viewers}}
        <div >{{this.Name}}
          <input type="checkbox" {{#if this.HasSeen}}checked{{/if}}>
        </div>
      {{/each}}
    {{/each}}
    </div>

</div>

{{/each}}
