<template id="ratings-template">
  \{{#each moviesList}}
  <div class="year-container">
    <h2 id="\{{inc this.Year '+' 1}}" class="year-heading" index="\{{@index}}" data-object="year">
      \{{inc this.Year "+" 1}}</h2>
    \{{#each this.Movies}}
    <div class="movie-container">
      <div class="movie-poster-container">
        <a href="https://imdb.com/\{{this.ImdbID}}" target="_blank"> <img class="movie-poster"
            data-object="\{{this.Name}}-\{{../Year}}-poster" loading="lazy" /></a>
        <a href="https://www.youtube.com/results?search_query=\{{this.Name}}+\{{../this.Year}}+trailer"
          target="_blank"><i class="fab fa-youtube"></i></a>
      </div>

      <div class="panel"></div>

      <div class="movie-content-container">
        <div class="chevron" movie="\{{this.Name}}" year="\{{../this.Year}}" tabindex="0"></div>
        <h3 class="movie-title" index="\{{@index}}">\{{this.Name}} </h3>
        <div class="imdb-container">
          <span class="imdb-star">&#x2605;</span>
          <span class="imdb-rating" data-object="\{{this.Name}}-\{{../this.Year}}-rating"></span> &nbsp; &nbsp;
          <span class="imdb-star"><i class="far fa-clock"></i></span>
         <span class="imdb-runtime" data-object="\{{this.Name}}-\{{../this.Year}}-runtime"></span> 
        </div>

        \{{#each this.Viewers}}
        <div class="user-container">
          <div class="user-info user-name">\{{this.Name}}</div>
          <div class="user-info user-check">
            <input id="checkbox-seen-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" class="checkbox-custom"
              name="checkbox-seen-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" type="checkbox"
              movie-index="\{{@../index}}" year-index="\{{@../../index}}" {{#if this.HasSeen}}checked {{/if}}>
            <label for="checkbox-seen-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}"
              class="checkbox-custom-label check-label"></label>
          </div>
          <div class="user-info user-smile">
            <input id="radio-1-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" class="radio-custom"
              name="radio-group-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" type="radio"
              movie-index="\{{@../index}}" year-index="\{{@../../index}}" {{#when this.Rating 'eq' true}}checked
              {{/when}}>
            <label for="radio-1-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}"
              class="radio-custom-label smile-label"></label>
          </div>
          <div class="user-info user-frown">
            <input id="radio-2-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" class="radio-custom"
              name="radio-group-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" type="radio"
              movie-index="\{{@../index}}" year-index="\{{@../../index}}" {{#when this.Rating 'eq' false}}checked
              {{/when}}>
            <label for="radio-2-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}"
              class="radio-custom-label frown-label"></label>
          </div>
          <div class="user-info user-skip">
            <input id="checkbox-skip-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" class="checkbox-custom"
              name="checkbox-skip-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}" type="checkbox"
              movie-index="\{{@../index}}" year-index="\{{@../../index}}" {{#if this.Skip}}checked {{/if}}>
            <label for="checkbox-skip-\{{../this.Name}}-\{{../../this.Year}}-\{{this.Name}}"
              class="checkbox-custom-label skip-label"></label>
          </div>
        </div>
        \{{/each}}
      </div>
    </div>
    \{{/each}}
  </div>
  \{{/each}}
</template>