{{#each allNominees}}

<div class="year-container">
  <h2 class="year-heading" index="{{@index}}" data-object="year">{{this.Year}}</h2>
   
      {{#each this.Movies}}
        <div class="movie-container">
          <h3 class="movie-title" index="{{@index}}">{{this.Name}}</h3>

          {{#each this.Viewers}}
              <div class="user-container">
                <div>{{this.Name}}</div>
                <input type="checkbox" movie-index="{{@../index}}" year-index="{{@../../index}}" {{#if this.HasSeen}}checked{{/if}}>
             </div>
          {{/each}}

         </div>  
      {{/each}}

</div>

{{/each}}
